@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Smooch+Sans:wght@700&display=swap");
body {
  margin: 0;
}
#app {
  display: flex;
  justify-content: space-around;
  color: #1c1c1c;
}
#app::before {
  content: "";
  position: absolute;
  background: url("img/Vector.svg") no-repeat;
  width: 70px;
  height: 137px;
  bottom: 80px;
  left: 0;
  z-index: 0;
}
.title {
  font-family: "Smooch Sans";
  font-size: 120px;
  font-weight: 700;
  line-height: 60px;
  margin: 0;
}
.sub-title {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2em;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3em;
}
.input {
  margin-bottom: 24px;
  position: relative;
  overflow: hidden;
  border-radius: 13px;
}
.input input {
  border: none;
  background: #f2f2f2;
  width: 100%;
  height: 3.5em;
  outline: none;
  border-radius: 13px;
  padding-left: 3em;
}
.input input::placeholder {
  color: #1c1c1c;
}
.input span {
  position: absolute;
  top: 22%;
  left: 10px;
}
.hr {
  font-family: Poppins;
  text-align: center;
  margin: 1.5em 0;
  width: 100%;
  position: relative;
}
.hr:after {
  content: "";
  width: 100%;
  border-bottom: solid 1px#F0EDFF;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
}
.hr-text {
  width: auto;
  display: inline-block;
  z-index: 3;
  padding: 0 10px;
  position: relative;
  background-color: #fff;
}
.btn {
  font-family: Poppins;
  cursor: pointer;
  font-size: 12px;
  line-height: 18px;
  width: 100%;
  height: 4em;
  outline: none;
  border-radius: 13px;
  border: none;
}
.submit {
  background: #1c1c1c;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
.lg {
  border: 1px solid #1c1c1c;
  background-color: transparent;
  margin-bottom: 1.5em;
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
}
.right {
  margin: 0.5vh 0;
}
.right img {
  height: 98vh;
}
